<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% load static%}
    <link rel="shortcut icon" type="image/png" href="{% static 'todo.png' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
	<title>TODO </title>
</head>
<body >
    <div class="ui tablet computer only padded grid" >
          <div class="ui borderless fluid inverted menu" style="font-size:16px">
          <a href="/todos" class="active blue item" style="font-size:20px">TODO</a>
            <a  class="right aligned item"  style="margin-left:1100px;"   style="font-size:20px"></a>
          </div>
    </div>

<style>
body {
  background-image: url("{% static 'bg.jpg' %}");
}
</style>
