{% include 'partials/header.html' %}
	<main style="margin-top:15px ">
            <div align="center"><h3>TODO  LIST</h3></div>
			{% for todo in todos%}
                <div class="ui card centered raised " style="width: 500px;margin-bottom: 5px;">
                  <div class="content">
                     <div class="header">
                            <div class="ui grid">
                                <div class="two column row">
                                    <div class="column">
                                         <i class="clipboard check purple icon"></i>
    {#                                       <a href="/todos/details/{{todo.id}}">{{todo.title}}</a>#}
                                         {{todo.title}}
                                    </div>
                                    <div class="column">
                                       <div align="end">
                                           <a href="/todos/edit/{{ todo.id }}"> <i class="edit blue icon" style="margin-right: 10px"></i></a>
                                           <a href="/todos/removetodo/{{ todo.id }}"><i class="delete red icon" onclick=""></i></a>
                                       </div>
                                </div>
                              </div>
                        </div>
                     </div>
                        <div class="ui divider"></div>
                        <div class="description">
                           <h3> {{todo.text}}</h3>
                           <h4 style="margin-top:0px ">Created Time : {{ todo.created_at }}</h4>
                      </div>
                  </div>
               </div>
			{% endfor %}
            <div align="center">
             <div style="width: 500px;align-content: center;padding-top: 5px">
              <a href="/todos/add" style="color: white">   <button class="fluid ui green button ">
                  <i class="plus icon"></i>  Add Todo
               </button> </a>
            </div>
            </div>
	</main>
{% include 'partials/footer.html' %}